:root {
  --bg-color: #1F2933;
  --bg-border: #0c1014;
  --popup-bg: rgba(0, 0, 0, 0.5);
  --selected: #9AA5B1;
  --contrast-bg: #F5F7FA;
  --text-shadow: 0px 0px 10px rgb(0, 0, 0);
  --hover: rgba(0, 0, 0, 0.2);
  color: #F5F7FA;
}

body.light {
  --bg-color: #F5F7FA;
  --selected: #CBD2D9;
  --contrast-bg: #1F2933;
  --text-shadow: 1px 1px 1px rgb(255,255,255),
1px -1px 1px rgb(255,255,255),
-1px -1px 1px rgb(255,255,255),
-1px 1px 1px rgb(255,255,255);
  --hover: rgba(155, 155, 155, 0.2);
  color: #1F2933;
}

html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app-wrapper {
  height: 100%;
  width: 100%;
}
